/*
1. Posicionamiento
2. Modelo de caja (box-model)
3. Tipografía
4. Visuales
5. Misceláneos u otros
*/
:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}
/***** Estilos de la sección del Header *****/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 33.4rem;
  text-align: center;
  background: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
}
.header__logo {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header__text {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header__button {
  position: absolute;
  display: block;
  top: calc(100% - 24px);
  left: calc(50% - 115px);
  padding: 15px;
  width: 230px;
  height: 4.8rem;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header__arrow-button {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}
/***** Estilos de la sección del Main *****/
main {
  width: 100%;
  min-width: 320px;
  background-color: var(--off-white);
}
/***** Estilos de la sección de Intercambios *****/
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container__background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/img/Bitcoin.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-exchange-container__text-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container__title {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container__text {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-tables-container {
  display: flex;
  height: 38rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-tables__table {
  width: 70%;
  min-width: 23.5rem;
  max-width: 50rem;
  height: 36rem;
  scroll-snap-align: center;
  margin: 0 20px;
  font-family: 'Inter', sans-serif;
}
.main-tables__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
}
.table-currency__title {
  color: var(--bitcoin-orange);
}
.table-commissions__title {
  color: var(--secondary-blue);
}
.main-tables__table-container {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
}
.main-tables__table-container table {
  width: 100%;
  height: 100%;
}
.main-tables__table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.main-tables__table--top-left {
  border-radius: 15px 0 0 0;
}
.main-tables__table--top-right {
  border-radius: 0 15px 0 0;
}
.main-tables__table--bottom-left {
  border-radius: 0 0 0 15px;
}
.main-tables__table--bottom-right {
  border-radius: 0 0 15px 0;
}
.main-tables__table-container .table--right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.main-tables__table-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-tables__table-container .down {
  background-image: url("./assets/icons/trending-down.svg");
}
.main-tables__table-container .up {
  background-image: url("./assets/icons/trending-up.svg");
}
.main-tables__date {
  width: 19rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
}
.table-currency__date {
  background-color: var(--soft-orange);
}
.table-commissions__date {
  background-color: var(--soft-blue);
}
.main-tables__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}
/***** Estilos de la sección de los beneficios *****/
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: auto;
  padding: 20px 10px;
  background-color: var(--black);
}
.main-product-detail__logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("./assets/icons/batata.svg");
}
.main-product-detail__title {
  width: 90%;
  min-width: 28.8rem;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.main-product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.main-product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.main-product-detail__card {
  width: 90%;
  min-width: 28.8rem;
  max-width: 40rem;
  min-height: 15rem;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.main-product-detail__card-logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-product-detail__card .clock {
  background-image: url("./assets/icons/clock.svg");
}
.main-product-detail__card .eye {
  background-image: url("./assets/icons/eye.svg");
}
.main-product-detail__card .dollar {
  background-image: url("./assets/icons/dollar-sign.svg");
}
.main-product-detail__card .check {
  background-image: url("./assets/icons/check-circle.svg");
}
.main-product-detail__card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.main-product-detail__card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
/***** Estilos de la sección de la imagen *****/
.main-bitcoin-img {
  width: 100%;
  min-width: 32rem;
  height: 50vh;
  text-align: center;
  background-image: url("./assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-bitcoin-img__text {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
/***** Estilos de la sección de planes *****/
.main-plans {
  width: 100%;
  min-width: 32rem;
  padding-bottom: 70px;
  text-align: center;
}
.main-plans__slider {
  display: flex;
  height: 31.6rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  background-color:#faf8f7;
}
.main-plans__title {
  width: 90%;
  min-width: 28.8rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main-plans__title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-plans__title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.main-plans__card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: calc(320 * 0.07rem);
  max-width: 30rem;
  height: 25rem;
  margin: 50px 20px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89,73, 30, 0.16);
}
.main-plans__recommended {
  position: absolute;
  width: 12rem;
  height: 3rem;
  padding: 8px;
  left: calc(50% - 6rem);
  top: -1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  border-radius: 8px;
}
.main-plans__card-title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.main-plans__card-plan-price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.main-plans__card-plan-price span {
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: 25px;
}
.main-plans__card-saving {
  font-size: 1.2rem;
  color: #757575;
}
.main-plans__card-button {
  width: 15rem;
  height: 4.8rem;
  margin-top: 20px;
  background-color: #faf8f7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: 'DM Sans', sans-serif;
}
.main-plans__card-button span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  vertical-align: middle;
}